html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquoSSSte:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  CSS INSCRIPTION */

#divsing
{
	float:right; 
	font-size: 85%; 
	position: relative; 
	top:-10px;
}

#signupbox
{
	margin-top:50px
}

/*  CSS CONNEXION */
body
{
	background-image: url("../images/esports-paris.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	font-family: 'Raleway', sans-serif;
}
#bodyconnexion
{
	background-image: url("../images/esport.jpeg");
	font-family: verdana;
	background-repeat: no-repeat;
	background-attachment:fixed;  
}

.footer
{
	margin-top: 47%;
	clear: both;
	width: 100%; 
	height: 50px;
	text-align: center;
	background-color: #0e0e0e;
	padding-top: 15px;
	text-transform: uppercase;
	color: #DADBDB;
	font-size: 15px;
}

.panel-info > .panel-heading
{
	color: white;
	background-color: black;
}

#signinlink
{
	color: white;
}

#confirmation
{
	width: 80%;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 100px;
}


.se_connecter
{
	text-align: center;
	font-size: 40px;
	color: black;
	margin-top: 100px;
	font-weight: bold;
}

.se_connecter_top
{
	margin-bottom: 20px;
}

.se_connecter a
{
	color: black;
}

html,body, .container-fluid, .sidebar2,.main-content
{
	height:100%;
}

.sidebar2
{
	background-color: #1a1f27;
	padding: 0px !important;
	box-shadow: 2px 2px 5px #262a35;
	z-index: 1000;
	height: 100%;
	position: fixed;
	width: 15%;
}

.logo
{
	min-height:200px;
	color:#afb1b5;
}

.logo>img
{
	margin-top: 30px;
	padding: 1px;
	border: 3px solid #F17153;
	border-radius: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	width: 200px;
	height: 200px;
}

.btn.Add-friend
{
	background-color:#F17153;
	border: 1px solid #50e6df;
	color:#eee;
}

.btn.Add-friend:hover,.btn.Add-friend:active,.btn.Add-friend:active:focus,.btn.Add-friend:active:hover,.btn.Add-friend:visited,.btn.Add-friend:focus
{
	background-color:#F17153;
	border: 0.5px solid transparent;
	color:white;
	outline:none;
	font-weight:600;
}

.coins
{
	display:inline-block;
	font-size:20px;
	font-family:'"Helvetica Neue",Helvetica,Arial,sans-serif';
	margin-bottom: 30px;
}

.list
{
	color: #eee;
	list-style: none;
	padding-left: 0px;
}

.event-list > li:nth-child(odd)
{
	background-color:#13171d;
}

li>i 
{
	margin-right:15px;
}

.list> li
{
	padding: 15px 0px 15px 40px;
	font-size: 16px;
	font-weight:lighter;
}

.list>li:hover
{

	color: white;
	box-shadow:1px 1px 10px 1px #50e6df inset;
	transition: padding-left 0.2s linear;
	padding-left: 60px;
}

.list a
{
	text-decoration: none;
	color: white;
}

.main-content
{ 
	color:#fff; 
	text-align:center;
}

.droite
{
	float: right;
	margin-right: 10px;
}

#video_twitch iframe
{
	margin-left: 17%;
	margin-top: 25px;
	height: 500px; 
	width:1000px;
}

#video_twitch a
{
	padding: 2px 0px 4px;
	display: block;
	width: 345px;
	font-weight: normal;
	font-size: 10px;
	text-decoration: underline;
}

.form-admin
{
	width: 100%;
}

.admin-box
{
	width: 45%;
	margin-left: 0;
	float: left;
}

#admin-2
{
	margin-left: 100px;
}

#avatar2
{
	margin-left: 10px;
}

#admin-dates
{
	margin-left: 25%;
}

.user-row
{
	margin-bottom: 14px;
}

.user-row:last-child
{
	margin-bottom: 0;
}

.dropdown-user
{
	margin: 13px 0;
	padding: 5px;
	height: 100%;
}

.dropdown-user:hover
{
	cursor: pointer;
}

.table-user-information > tbody > tr
{
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child
{
	border-top: 0;
}


.table-user-information > tbody > tr > td
{
	border-top: 0;
}
.toppad
{
	margin-top:20px;
}

.profil-center
{
	margin-left: 70px;
}

#remove
{
	float: right;
	margin-top: -30px;
}

.event-list > li > .info
{
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .left > .title
{
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}

.event-list > li > .info > .right > .title
{
	font-size: 17pt;
	font-weight: 700;
	margin: 0px;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.event-aff
{
	margin-bottom: 10px;
}

.position-date
{
	margin: 0 auto;
	width: 45%;
}


@media (min-width: 768px)
{

	.right
	{
		float: right;
	}

	.left
	{
		float: left;
	}

	.event-list > li > time,
	.event-list > li > img
	{
		width: 120px;
	}
	.event-list > li > .info
	{
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}

	.event-list > li > .info
	{
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 10px;
	}

	.event-list > li > .info > .left > .title, 
	.event-list > li > .info > .left > .desc
	{
		padding: 0px 10px;
	}
}


/* =================================
Price Table
================================= */ 
.price-table 
{
	border-radius: 0;
	border: 7px solid #eeeeee;
}
.price-table:hover 
{
	background: rgba(0,0,0, .03);
	border-color: #0093DD;
}
.price-table .price-table-heading 
{
	color: #333333;
	background: white;
	padding: 10px 0;
	margin: 0;
}
.price-table .price-table-heading .title
{
	color: #333333;
	font-weight: 900;
	letter-spacing: 1px;
}

.price-table > .price-table-body 
{
	color: #FFFFFF;
	background: #1A1F27;
	padding: 50px 0 30px;
}
.price-table > .price-table-body .value 
{
	font-size: 66px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 0;
}
.price-table > .list-group 
{
	color: #333;
	font-weight: 400;
	margin-bottom: 0;
}

.price-table-footer
{
	background: #eeeeee;
	padding: 15px 0;
}

.paypal
{
	margin-top: 200px;
}